<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Уровень логирования для корневого логгера -->
    <root level="info">
        <!-- Настройка вывода логов в консоль -->
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Настройки вывода логов в консоль -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Формат вывода логов -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

</configuration>